.dates-component .date {
  min-width: 1em;
  min-height: 1em;
  border-radius: 4px;
  margin: 2px;
  padding: 2px;
  display: inline-block;
  border: 3px solid dodgerblue;
  text-align: center;
  color: dodgerblue;
  cursor: pointer;
}

.dates-component .date.selected {
  background-color: dodgerblue;
  color: white;
}