.storylines-chart {
  width: 100%;
}

.storylines-chart .storylines path {
  stroke-width: 2px;
  stroke: black;
  fill: none;
  cursor: pointer;
}

.storylines-chart .storylines g:hover path {
    stroke-width: 6px;
}

.storylines-chart .storylines g:hover text {
    font-weight: bold;
}

.storylines-chart .storylines text {
    font-size: .75em;
    alignment-baseline: middle;
}

.storylines-chart .groups rect {
  fill-opacity: 0.1;
}

.storylines-chart .groups text {
    alignment-baseline: text-after-edge;
}

